@model IEnumerable<MyCompany.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h4>Employee Register</h4>
<hr />


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th>
                <a class="btn btn-outline-success" asp-action="AddOrEdit"><i class="far fa-plus-square"></i> Employee</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeLocation)
            </td>
            <td>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <a asp-action="AddOrEdit" asp-route-id="@item.EmployeeId"><i class="fa fa-marker fa-lg"></i> </a>
                    </div>
                    <div class="form-group col-md-3">
                        <a asp-action="Details" asp-route-id="@item.EmployeeId"><i class="fas fa-list-ul"></i></a>
                    </div>
                    <div class="form-group col-md-3">
                        <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="text-danger ml-1" onclick="return confirm('Are you sure you want to delete this record')"><i class="fa fa-trash-alt fa-lg"></i> </a>
                    </div>
                </div>

                    
                   
                    
            </td>
        </tr>
}
    </tbody>
</table>
